* {
  box-sizing: border-box;
}


p {
  margin: 60px 0 25px 0;
  text-transform: uppercase;
  font-size: 24px;
  letter-spacing: 1px;
  color: #bfbfbf;
  font-weight: bold;
}

a {
  text-decoration: none;
  font-size: 16px;
  color: #fff;
  font-weight: bold;
  display: block;
  padding: 14px 30px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}


body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 auto;
  max-width: 960px;  
}


.menu {
  border-radius: 3px;
  display: flex;
  justify-content: space-between;
  background: #2a3644;
}

.menu > li {
  display: inline-block;
  position: relative;
}

.menu > li > a {
  border-left: 1px solid #3f4852;
  border-right: 1px solid #3f4852;
}

.menu > li:first-child > a {
  border-radius: 3px 0 0 3px;
  border-left: none;
}

.menu > li:last-child > a {
  border-radius: 0 3px 3px 0;
  border-right: none;
}

.menu a {
  padding: 14px 30px;
  
}

.menu a:hover  {
  color: #fd8612;
  background-color: #3f4852;
}

.sub-menu {
  position: absolute;
  width: 211px;
  top: 110%;
  display: none;
  transition: all .5s ease;
  border-radius: 3px;
  background-color: #d2d4d5;
  z-index: 2;
}

.sub-menu::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 5px;
  top: -5px;
  background-color: transparent;
  
}

.sub-menu a {
  padding: 11.56px 20px;
  border-top: 1px solid #b9bdc1;
  font-size: 14.5px;
  color: #2a3644;
}

.sub-menu > li:first-child a {
  border-top: none;
}

.sub-menu > li:first-child > a {
  border-radius: 3px 3px 0 0;
}

.sub-menu > li:last-child > a {
  border-radius: 0 0 3px 3px;
}

.boc {
  right: 0;
}


.menu li:hover .sub-menu {
  display: block;
}

.sub-menu a:hover  {
  background-color: #2a3644; 
  color: #ff8505;
}

.menu-score {
  margin: 39px 0;
  display: table;
  width: 100%;
  border-radius: 3px;
  background-color: #2a3644;
}

.menu-table {
  display: table-row;
}

.menu-table > li {
  border-right: 1px solid #3f4852;
  position: relative;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.menu-table li:last-child {
  border-right: none;
}

.menu-table > li:first-child a {
  border-radius: 3px 0 0 3px;
}

.menu-table > li:last-child a {
  border-radius: 0 3px 3px 0;
}

.menu-table a:hover {
  color: #fd8612;
  background-color: #3f4852;
}

.hover-sub:hover > .sub-menu {
  display: block;
}

.sub1 {
  text-align: left;
}

.sub3::before,
.sub2::before {
  top: 0;
  width: 8px;
  height: 100%;
  right:-5px;
  background-color: transparent;
}

.sub2::before {
  left: -5px;
}

.hover-sub {
  position: relative;
}

.hover-sub > .sub1:hover > .sub2 {
  display: block;
}

.sub2 {
  top: 0;
  left: 102.5%;
}

.sub3 {
  top: 0;
  right: 102%;
}


/* Меню 3 */
.village {
  display: flex;
  justify-content: space-between;
  background: #2a3644;
  border-radius: 3px;
  
}

.village > .menu > li > a  {
  border-left: none;
}

.home::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  background: url(../img/sprite2.png) no-repeat 0 0;
  left: 30px
}

.village > .menu > li:first-child a {
 padding-left: 58px;
}



.social {
  display: flex;
  align-items: center;
  
}

.social a {
  margin: 0 15px;
  padding: 0;
  display: block;
  background: url(../img/sprite.png) no-repeat;
  transition: all .5s ease;
}

a.fb {
  width: 10px;
  height: 19px;
  background-position: 0 0;
}

a.fb:hover {
  background-position: 0 -24px;
}

a.in {
  width: 19px;
  height: 19px;
  background-position: -32px 0;
}

a.in:hover {
  background-position: -33px -24px;
}

a.tw {
  margin-right: 30px;
  width: 18px;
  height: 15px;
  background-position: -12px -2px;
}

a.tw:hover {
  background-position: -13px -26px;
}

.services {
  height: 163px;
  border-right: #b9bdc1 solid 1px;
  border-radius: 3px 0 0 3px;
  box-sizing: border-box;
}


.services > li:first-child > a {
  border-radius: 3px 0 0 0;
  
}

.services > li:last-child > a {
  border-radius: 0 0 0 3px;
  
}

.services2 {
  height: 163px;
  left: 211px;
  border-radius: 0 3px 3px 0;
}

.services2 > li:first-child > a {
  border-radius: 0 3px 0 0; 
}

.services2 > li:last-child > a {
  border-radius: 0 0 0 0;
  border-bottom: #b9bdc1 solid 1px;
}

/* Таблица */

 


table, tr, td, th {
  border: 1px solid #c0c1c2;
  border-collapse: collapse;
  
}

thead {
  
  background:  #2a3644;
}

